.card-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.form-box{
    width: 65%;
    min-height: 500px;
    background-color: #fff;
    margin: 180px 400px 60px 0 ;
    border-radius: 30px;
}
.form-box .submit-box{
    width: 100%;
    height: 70px;
    background-color: #43b64c;
    border-radius: 30px 0 30px 0;
    color: #ffffff;
    font-family: 'iran-sans';
    font-size: 17px;
   display: flex;
    align-items: center;
    justify-content: center;
}
.form-box .submit-box i{
    padding-left: 10px;
}
.form-box .form-input{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.form-box .form-input form{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-box .form-input form .input{
    width: 40%;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    direction: rtl;
    font-family: 'iran-sans';
    font-size: 13px;
    padding-right: 10px;
    margin: 20px 0;
}
.form-box .form-input form .input:first-child{
    margin-top: 35px ;
}
.form-box .form-input form .input:focus{
  outline: none;
}
.form-box .form-input form .submit{
    width: 30%;
    height: 35px;
    background-color: #35a43f;
    color: #ffffff;
    font-family: "iran-sans";
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 40px;
}
.error-box{
    width: 55%;
    min-height: 500px;
    margin-top:  140px ;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error-box .error{
    width: 55%;
    height: 35px;
    background-color: tomato;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'iran-sans';
    font-size: 13px;
    text-align: center;
    margin: 10px 0;
    line-height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



